body{
    text-align: center;
    background-color: aqua;
}
#navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

#navbar ul li a {
    display: block;
    padding: 15px;
    margin-right: 2vw;
    text-decoration: none;
}

#navbar ul li a.active {
    color:rgb(25, 114, 216);
}
.hero-section{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOehEhjZ-6fG-fuoHkZ0x4nXFN7oDEvZ2VlA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    min-height:600px;
}

.names{
    text-align: center;
}
#project > p{
    text-decoration: blueviolet;
}
#result-box{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px rgb(255, 136, 0);
}